<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>R</key>
		<integer>134</integer>
		<key>G</key>
		<integer>206</integer>
		<key>B</key>
		<integer>24</integer>
	</dict>
	<dict>
		<key>R</key>
		<integer>25</integer>
		<key>G</key>
		<integer>181</integer>
		<key>B</key>
		<integer>239</integer>
	</dict>
	<dict>
		<key>R</key>
		<integer>255</integer>
		<key>G</key>
		<integer>96</integer>
		<key>B</key>
		<integer>38</integer>
	</dict>
	<dict>
		<key>R</key>
		<integer>240</integer>
		<key>G</key>
		<integer>186</integer>
		<key>B</key>
		<integer>24</integer>
	</dict>
	<dict>
		<key>R</key>
		<integer>71</integer>
		<key>G</key>
		<integer>204</integer>
		<key>B</key>
		<integer>169</integer>
	</dict>
	<dict>
		<key>R</key>
		<integer>61</integer>
		<key>G</key>
		<integer>204</integer>
		<key>B</key>
		<integer>114</integer>
	</dict>
</array>
</plist>
