<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>110</string>
	<string>112</string>
	<string>119</string>
	<string>114</string>
	<string>122</string>
	<string>12306</string>
	<string>12315</string>
	<string>10086</string>
	<string>1008611</string>
	<string>10010</string>
	<string>10000</string>
	<string>10060</string>
	<string>10050</string>
	<string>95566</string>
	<string>95588</string>
	<string>95533</string>
	<string>95599</string>
	<string>95559</string>
	<string>95595</string>
	<string>95580</string>
	<string>95516</string>
	<string>95555</string>
	<string>95558</string>
</array>
</plist>
